
.App {
  text-align: center;
}

.container{
  background-image: url(https://images.pexels.com/photos/3369526/pexels-photo-3369526.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: bisque;
  border-radius: 20px;
  opacity: 80%;
}

.h1{
  text-align: center;
}

body{
  background-image: url(https://images.pexels.com/photos/3361052/pexels-photo-3361052.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
  background-size: auto;
  background-repeat: no-repeat;
  background-color: black;
  text-align: center;
  color: black;
}